<footer class="footers">
  <div class="footer-content">
    <div class="footer-main">
      <div class="footer-logo-section">
        <img
          src="./img/mainpage/image 18.svg"
          alt="Rick and Morty logo"
          class="footer-logo"
        />
        <div class="footer-tags">
          <img src="./img/mainpage/element (2).svg" alt="" />
        </div>
      </div>

      <div class="footer-nav">
        <div class="footer-links">
          <a href="./characters.html" class="footer-link">Characters</a>
          <a href="./episodes.html" class="footer-link">Episodes</a>
        </div>

        <div class="social-icons">
          <a href="#facebook" class="social-icon" aria-label="Facebook">
            <img src="./img/mainpage/Vector (1).svg" alt="Facebook icon" />
          </a>
          <a href="#twitter" class="social-icon" aria-label="Twitter">
            <img src="./img/mainpage/Vector.svg" alt="Twitter icon" />
          </a>
          <a href="#instagram" class="social-icon" aria-label="Instagram">
            <img
              src="./img/mainpage/iconoir_youtube.svg"
              alt="Instagram icon"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Privacy Policy Public Offering Agreement</p>
    </div>
  </div>
</footer>
