<section id="episodes" class="episodes-section">
  <div class="episodes-content">
    <div class="episodes-header">
      <h2 class="episodes-title">
        Ready to <span class="explore-highlight">explore</span> the crazy world
        of Rick and Morty?
      </h2>
    </div>

    <div class="episodes-gallery">
      <div class="episode-card">
        <img
          src="./img/mainpage/image1.svg"
          alt="Rick and Morty episode screenshot"
          class="episode-image"
        />
      </div>
      <div class="episode-card">
        <img
          src="./img/mainpage/image2.svg"
          alt="Rick and Morty episode screenshot"
          class="episode-image"
        />
      </div>
      <div class="episode-card">
        <img
          src="./img/mainpage/image3.svg"
          alt="Rick and Morty episode screenshot"
          class="episode-image"
        />
      </div>
      <div class="episode-card">
        <img
          src="./img/mainpage/image4.svg"
          alt="Rick and Morty episode screenshot"
          class="episode-image"
        />
      </div>
      <div class="episode-card">
        <img
          src="./img/mainpage/image5.svg"
          alt="Rick and Morty episode screenshot"
          class="episode-image"
        />
      </div>
    </div>

    <a href="./episodes.html" class="episodes-btn">Episodes</a>
  </div>
</section>
