<section id="characters" class="characters-section">
  <div class="section-title">
    <h1>
      <span class="main-text">Main</span
      ><span class="characters-text"> characters</span>
    </h1>
  </div>

  <div class="characters-content">
    <div class="character-image-container">
      <img
        id="characterImage"
        src="img/mainpage/1.png"
        alt="Character image"
        class="character-image"
      />
    </div>

    <div class="character-details">
      <div class="character-item">
        <h2 class="character-name active" data-img="./img/1.png">
          Rick Sanchez
        </h2>
        <p class="character-description">
          Rick Sanchez is a brilliant but deeply troubled scientist and one of
          the main characters in the animated TV show Rick and Morty.
        </p>
        <div class="character-divider"></div>
      </div>

      <div class="character-item">
        <h2 class="character-name" data-img="img/mainpage/2.png">
          Morty Smith
        </h2>
        <p class="character-description">
          Morty Smith is the other main character in the animated TV show Rick
          and Morty, and Rick's grandson.
        </p>
        <div class="character-divider"></div>
      </div>

      <div class="character-item">
        <h2 class="character-name" data-img="img/mainpage/image 29.svg">
          Summer Smith
        </h2>
        <p class="character-description">
          Summer Smith is Morty's older sister and one of the main characters in
          Rick and Morty.
        </p>
        <div class="character-divider"></div>
      </div>

      <div class="character-item">
        <h2 class="character-name" data-img="img/mainpage/image 30.svg">
          Beth Smith
        </h2>
        <p class="character-description">
          Beth is a horse surgeon, and, as Rick's daughter, she is intelligent
          if sometimes cold.
        </p>
        <div class="character-divider"></div>
      </div>

      <div class="character-item">
        <h2 class="character-name" data-img="img/mainpage/image 31.svg">
          Jerry Smith
        </h2>
        <p class="character-description">
          Jerry is the husband of Beth Smith, the father of Summer Smith and
          Morty Smith, and the son-in-law of Rick Sanchez.
        </p>
        <div class="character-divider"></div>
      </div>
    </div>
  </div>
</section>
