<section class="hero-section">
  <div class="hero-content">
    <!-- Header -->
    <header class="header">
      <nav class="nav-buttons">
        <a href="./characters.html" class="btn btn-primary">Characters</a>
        <a href="./episodes.html" class="btn btn-secondary">Episodes</a>
      </nav>
      <a href="#search" class="btn btn-secondary search-btn">Search</a>
    </header>

    <!-- Hero Main Content -->
    <div class="hero-main">
      <div class="portal-container">
        <img
          src="img/mainpage/image.png"
          alt="Rick and Morty portal with characters"
          class="portal-bg"
        />
        <img
          src="img/mainpage/logo.png"
          alt="Rick and Morty spaceship"
          class="spaceship"
        />
      </div>

      <p class="hero-text">
        If you're a fan of Rick and Morty, you <br />don't want to miss out on
        our app!<br />
        Start exploring the endless <br />possibilities of Rick and Morty!
      </p>
    </div>
  </div>
</section>
<!-- Floating Tags -->
<div class="floating-tags">
  <img src="img/mainpage/Tags (1).svg" alt="" />
</div>
