<div class="characters-div">
  <ul class="filter-ul">
    <li class="filter-li">
      <p class="filter-p">Name</p>
        <input type="text" class="filter-input" placeholder="Enter name" />
    </li>
    <li class="filter-li">
      <p class="filter-p">Status</p>
      <select class="filter-select">
        <option value=""></option>
      </select>
    </li>
    <li class="filter-li">
      <p class="filter-p">Species</p>
      <select class="filter-select">
        <option value=""></option>
      </select>
    </li>
    <li class="filter-li">
      <p class="filter-p">Type</p>
       <select class="filter-select">
        <option value=""></option>
      </select>
    </li>
    <li class="filter-li">
      <p class="filter-p">Gender</p>
       <select class="filter-select">
        <option value=""></option>
      </select>
    </li>
  </ul>
</div>
