<div class="overflow-menu">
  <div class="character-menu">
    <ul class="menu-ul">
      <img src="" alt="" class="menu-img" />
      <div class="menu-container">
        <ul class="menu-container-ul">
          <li class="menu-container-li">
            <p class="menu-container-p">Status</p>
            <span class="menu-container-span menu-status"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Species</p>
            <span class="menu-container-span menu-species"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Gender</p>
            <span class="menu-container-span menu-gender"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Origin</p>
            <span class="menu-container-span menu-origin"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Location</p>
            <span class="menu-container-span menu-location"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Type</p>
            <span class="menu-container-span menu-type"></span>
          </li>
        </ul>
      </div>
    </ul>
    <ul class="menu-ul">
      <h2 class="menu-h2">Episodes</h2>
      <div class="menu-container menu-container-episodes">
        <!-- <ul class="menu-container-ul menu-episodes-ul">
          <h4 class="menu-h4"></h4>
          <li class="menu-container-li">
            <p class="menu-container-p">Season</p>
            <span class="menu-container-span"></span>
          </li>
          <li class="menu-container-li">
            <p class="menu-container-p">Air date</p>
            <span class="menu-container-span"></span>
          </li>
        </ul> -->
      </div>
    </ul>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 0 22 22"
      width="22.000000"
      height="22.000000"
      fill="none"
      class="menu-btn"
    >
      <rect
        id="x"
        width="22.000000"
        height="22.000000"
        x="0.000000"
        y="0.000000"
        fill="rgb(232,232,232)"
        fill-opacity="0"
      />
      <path
        id="Vector"
        d="M16.5 5.5L5.5 16.5"
        stroke="rgb(161,215,55)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      />
      <path
        id="Vector"
        d="M5.5 5.5L16.5 16.5"
        stroke="rgb(161,215,55)"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
      />
    </svg>
  </div>
</div>
