<footer class="footer-ec">
  <div class="footer-content-ec">
    <div class="footer-main-ec">
      <div class="footer-logo-section-ec">
        <img
          src="./img/mainpage/image18.svg"
          alt="Rick and Morty logo"
          class="footer-logo"
        />
        <div class="footer-tags-ec">
          <img src="./img/mainpage/element2.svg" alt="" />
        </div>
      </div>

      <div class="footer-nav-ec">
        <div class="footer-links-ec">
          <a href="./img/mainpage/Vector1.svg" class="footer-link-ec"
            >Characters</a
          >
          <a href="./episodes.html" class="footer-link-ec">Episodes</a>
        </div>
        <div class="social-icons-ec">
          <a href="#facebook" class="social-icon-ec" aria-label="Facebook">
            <img src="./img/mainpage/Vector1.svg" alt="Facebook icon" />
          </a>
          <a href="#twitter" class="social-icon-ec" aria-label="Twitter">
            <img src="./img/mainpage/Vector.svg" alt="Twitter icon" />
          </a>
          <a href="#instagram" class="social-icon-ec" aria-label="Instagram">
            <img
              src="./img/mainpage/iconoir_youtube.svg"
              alt="Instagram icon"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="footer-bottom-ec">
      <p>Privacy Policy Public Offering Agreement</p>
    </div>
  </div>
</footer>
