<header>
  <div class="header-div">
    <img src="./img/episodes/logo-rick.png" class="logohead-img" alt="" />
    <img src="./img/characters/logo.png" class="logohead-img" alt="" />
    <ul class="ul-input">
      <img src="./img/characters/search.png" class="search-img" alt="" />
      <input class="header-input" placeholder="Search" />
    </ul>
    <img src="../../img/episodes/logo-rick.png" class="logohead-img" alt="" />
    <button class="header-btn">
      <img src="./img/characters/search.png" class="search-img" alt="" />Search
    </button>
  </div>
</header>
