<div class="characters-div">
  <div class="main-tags-img"></div>
  <ul class="filter-ul">
    <li class="filter-li">
      <p class="filter-p">Name</p>
      <div class="filter-input-div">
        <input type="text" class="filter-input" placeholder="Enter name" />
        <img src="./img/characters/search-black.png" class="search-inp-img" alt="">
      </div>
    </li>
    <li class="filter-li">
      <p class="filter-p">Status</p>
      <button class="select-btn select-btn-status">Alive <img src="./img/characters/chevron-down.png" class="chevron-img chevron-status" alt=""></button>
      <ul class="select-ul select-ul-status">
        <li class="select-li"><a class="select-a" href="">Alive</a></li>
        <li class="select-li"><a class="select-a" href="">Dead</a></li>
        <li class="select-li"><a class="select-a" href="">Unknown</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Species</p>
      <button class="select-btn select-btn-species">Human <img src="./img/characters/chevron-down.png" class="chevron-img chevron-species" alt=""></button>
      <ul class="select-ul select-ul-species">
        <li class="select-li"><a class="select-a" href="">Human</a></li>
        <li class="select-li"><a class="select-a" href="">Alien</a></li>
        <li class="select-li"><a class="select-a" href="">Mythological Creature</a></li>
        <li class="select-li"><a class="select-a" href="">Humanoid</a></li>
        <li class="select-li"><a class="select-a" href="">Animal</a></li>
        <li class="select-li"><a class="select-a" href="">Cronenberg</a></li>
        <li class="select-li"><a class="select-a" href="">Poopybutthole</a></li>
        <li class="select-li"><a class="select-a" href="">Robot</a></li>
        <li class="select-li"><a class="select-a" href="">Disease</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Type</p>
       <button class="select-btn select-btn-type">Parasite <img src="./img/characters/chevron-down.png" class="chevron-img chevron-type" alt=""></button>
      <ul class="select-ul select-ul-type">
        <li class="select-li"><a class="select-a" href="">Parasite</a></li>
        <li class="select-li"><a class="select-a" href="">Human with ants<br> in his eyes</a></li>
        <li class="select-li"><a class="select-a" href="">Superhuman</a></li>
        <li class="select-li"><a class="select-a" href="">Genetic <br> experiment</a></li>
        <li class="select-li"><a class="select-a" href="">Fish-Person</a></li>
        <li class="select-li"><a class="select-a" href="">Cromulon</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Gender</p>
       <button class="select-btn select-btn-gender">All <img src="./img/characters/chevron-down.png" class="chevron-img chevron-gender" alt=""></button>
      <ul class="select-ul select-ul-gender">
        <li class="select-li"><a class="select-a" href="">All</a></li>
        <li class="select-li"><a class="select-a" href="">Female</a></li>
        <li class="select-li"><a class="select-a" href="">Male</a></li>
        <li class="select-li"><a class="select-a" href="">Genderless</a></li>
        <li class="select-li"><a class="select-a" href="">Unknow</a></li>
      </ul>
    </li>
  </ul>

  <div class="characterspages-div">
    <ul class="characters-ul">

    </ul>
    <button class="loadmore-btn">Load more</button>
  </div>
</div>
