<div class="characters-div">
  <div class="main-tags-img"></div>
  <ul class="filter-ul">
    <li class="filter-li">
      <p class="filter-p">Name</p>
      <div class="filter-input-div">
        <input type="text" class="filter-input" placeholder="Enter name" />
        <img src="./img/characters/search-black.png" class="search-inp-img" alt="">
      </div>
    </li>
    <li class="filter-li">
      <p class="filter-p">Status</p>
      <button class="select-btn select-btn-status">
        <span class="status-text">All</span><img src="./img/characters/chevron-down.png" class="chevron-img chevron-status" alt=""></button>
      <ul class="select-ul select-ul-status">
        <li class="select-li" name="All"><a class="select-a">All</a></li>
        <li class="select-li"><a class="select-a">Alive</a></li>
        <li class="select-li"><a class="select-a">Dead</a></li>
        <li class="select-li"><a class="select-a">Unknown</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Species</p>
      <button class="select-btn select-btn-species">
        <span class="species-text">All</span> <img src="./img/characters/chevron-down.png" class="chevron-img chevron-species" alt=""></button>
      <ul class="select-ul select-ul-species">
        <li class="select-li" name="All"><a class="select-a">All</a></li>
        <li class="select-li"><a class="select-a">Human</a></li>
        <li class="select-li"><a class="select-a">Alien</a></li>
        <li class="select-li"><a class="select-a">Mythological Creature</a></li>
        <li class="select-li"><a class="select-a">Humanoid</a></li>
        <li class="select-li"><a class="select-a">Animal</a></li>
        <li class="select-li"><a class="select-a">Cronenberg</a></li>
        <li class="select-li"><a class="select-a">Poopybutthole</a></li>
        <li class="select-li"><a class="select-a">Robot</a></li>
        <li class="select-li"><a class="select-a">Disease</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Type</p>
       <button class="select-btn select-btn-type">
        <span class="type-text">All</span> <img src="./img/characters/chevron-down.png" class="chevron-img chevron-type" alt=""></button>
      <ul class="select-ul select-ul-type">
        <li class="select-li" name="All"><a class="select-a">All</a></li>
        <li class="select-li"><a class="select-a">Parasite</a></li>
        <li class="select-li"><a class="select-a">Human with ants<br> in his eyes</a></li>
        <li class="select-li"><a class="select-a">Superhuman</a></li>
        <li class="select-li"><a class="select-a">Genetic <br> experiment</a></li>
        <li class="select-li"><a class="select-a">Fish-Person</a></li>
        <li class="select-li"><a class="select-a">Cromulon</a></li>
      </ul>
    </li>
    <li class="filter-li">
      <p class="filter-p">Gender</p>
       <button class="select-btn select-btn-gender">
        <span class="gender-text">All</span> <img src="./img/characters/chevron-down.png" class="chevron-img chevron-gender" alt=""></button>
      <ul class="select-ul select-ul-gender">
        <li class="select-li" name="All"><a class="select-a">All</a></li>
        <li class="select-li"><a class="select-a">Female</a></li>
        <li class="select-li"><a class="select-a">Male</a></li>
        <li class="select-li"><a class="select-a">Genderless</a></li>
        <li class="select-li"><a class="select-a">Unknow</a></li>
      </ul>
    </li>
  </ul>

  <div class="characterspages-div">
    <ul class="nocharacters-ul">
      <img src="./img/characters/oops.png" alt="" class="nocharacters-img">
      <p class="nocharacters-p">Oops! Try looking for something else...</p>
    </ul>
    <ul class="characters-ul">
    </ul>
    <!-- <ul class="character-ul">
      <img src="" alt="" class="character-img">
      <h2 class="character-h2">bAeboo</h2>
      <p class="character-p">Origin: Earth</p>
      <p class="character-p">Location: Ukraine</p>
    </ul> -->
    <button class="loadmore-btn">Load more</button>
  </div>
</div>
