<section class="footer-section-main">
  <ul class="ul-main-footer">
    <li class="li-main-footer">
<img src="../../img/characters/episodes/" alt="1" class="main-img-footer">
    </li>
    <li class="li-main-footer">
      <p class="first-p-footer-p">Characters</p>
      <p class="first-p-footer-p">Episodes</p>
    </li>
    <li class="li-main-footer">
      <div class="div-main-footer">
       <img src="/src/img/characters/episodes/facebook.png" alt="1" class="info-footer-images">
       <img src="/src/img/characters/episodes/twitter.png" alt="1" class="info-footer-images">
       <img src="/src/img/characters/episodes/u_instagram.png" alt="1" class="info-footer-images">
      </div>
    </li>
  </ul>
  <p class="p-to-p-footer">Privacy Policy Public Offering Agreement</p>
</section>
