<div class="characters-div">
  <div class="main-tags-img"></div>
  <ul class="filter-ul">
    <li class="filter-li">
      <p class="filter-p">Name</p>
      <div class="filter-input-div">
        <input type="text" class="filter-input" placeholder="Enter name" />
        <img src="../../img/characters/search-black.png" class="search-inp-img" alt="">
      </div>
    </li>
    <li class="filter-li">
      <p class="filter-p">Episode code</p>
      <button class="select-btn">All episodes <img src="../../img/characters/chevron-down.png" class="chevron-img chevron-status" alt=""></button>
     <ul class="select-ul select-ul-status" id="episodes-menu"></ul>
    </li>
  </ul>
      <button class="loadmore-btn">Load more</button>
</div> 