<div class="main-div">
  <ul class="main-ul">
    <h2 class="main-h2">Episodes</h2>
    <p class="main-p">
      With a comprehensive guide to every episode, you can
      relive your favorite moments and discover new ones. From
      the bizarre and hilarious to the emotional and thought-
      provoking, our episode guide covers it all. 
    </p>
    <button class="main-btn">Back home</button>
  </ul>
  <img src="../../img/episodes/main-image-episodes.png" class="main-img" alt="" />
  <img src="../../img/episodes/main-image-episodes.png" class="main-img-small" alt="" /> 
</div>
