.characters-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main-tags-img {
  position: absolute;
  top: -80px;
  width: 100%;
  height: auto;
}
.filter-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 175px;
  display: flex;
  gap: 16px;
}
.filter-p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
.filter-input-div {
  width: 233px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  background-color: #daf836;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  outline: none;
}
.search-inp-img {
  width: 18px;
  height: 18px;
    margin-left: 8px;
}
.select-btn {
  height: 50px;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.chevron-img {
  width: 18px;
  height: 18px;
}
.chevron-status {
    margin-left: 60px;
}
.select-ul {
    list-style: none;
    padding: 16px 24px;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 15px;
}
.select-a {
    text-decoration: none;
    color: black;
}
.select-li:not(:first-child) {
    margin-top: 8px;
}
.select-ul-status {
    display: none;
}