.characters-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-tags-img {
  width: 100%;
  height: 170px;
  background-image: url('../../img/characters/Tags.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  overflow: hidden;
  margin-top: -80px;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.1s;
}

.filter-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 64px;
  display: flex;
  gap: 16px;
  padding: 0px 10px 0px 10px;
  margin-top: 170px;
}
.filter-li {
  display: flex;
  flex-direction: column;
  position: relative;
}
.filter-p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
.filter-input-div {
  width: 233px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  background-color: #daf836;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  outline: none;
}
.search-inp-img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.select-btn {
  height: 50px;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.chevron-img {
  width: 18px;
  height: 18px;
}
.chevron-status {
  margin-left: 60px;
}
.chevron-species {
  margin-left: 79px;
}
.chevron-type {
  margin-left: 45px;
}
.chevron-gender {
  margin-left: 80px;
}
.select-ul {
  position: absolute;
  list-style: none;
  padding: 16px 24px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000;
  border-radius: 15px;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: block;
  visibility: hidden;
  z-index: 10;
}

.select-ul-status.active,
.select-ul-species.active,
.select-ul-type.active,
.select-ul-gender.active {
  transform: scaleY(1);
  visibility: visible;
  background-color: white;
}


.select-a {
  text-decoration: none;
  color: black;
}

.select-li:not(:first-child) {
  margin-top: 8px;
}

/* Characters */

.characterspages-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 64px;
  justify-content: center;
  margin-top: 64px;
}


.character-ul {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  max-width: 278px;
}

.character-img {
  width: 278px;
  height: 314px;
  border-radius: 18px;
  border: 2px solid #A1D737;
}

.character-h2 {
  font-size: 16px;
  margin-top: 16px;
  color: #000000;
}

.character-p {
  font-size: 14px;
  margin-top: 8px;
  color: #11111183;
}

.character-span {
  color: black;
}

@media (max-width: 1065px) {
  .filter-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main-tags-img {
    height: 130px;
    margin-top: -60px;
  }
}
@media (max-width: 625px) {
  .filter-ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    width: 100%;
    max-width: 550px;
    justify-content: center;
  }

  .filter-ul li:first-child {
    grid-column: span 2;
  }
  .filter-input-div {
    width: 100%;
  }

  .select-btn {
    width: 180px;
    justify-content: space-between;
  }

  .chevron-status,
  .chevron-species,
  .chevron-type,
  .chevron-gender {
    margin-left: 0px;
  }

  .filter-ul {
    margin-top: 40px;
  }
}
@media (max-width: 480px) {
  .select-btn {
    width: 150px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}