header {
  width: 100%;
  background-color: #e0e0e0;
}
.header-div {
  background-color: #f0f0f0;
  width: 100%;
  padding: 24px;
  padding-left: 128px;
  padding-right: 128px;
  background-color: #0d171d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logohead-img {
  width: 193px;
  height: 73px;
  opacity: 0;
  animation: fadeInUp 1s forwards;
  animation-delay: 0.1s;
}
.ul-input {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  border: 2px solid #fafafa4d;
  border-radius: 30px;
  padding: 12px 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  width: 60px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  outline: none;
  text-align: center;
  font-weight: 500;
}

.header-input::placeholder {
    color: #ffffff;
    font-size: 16px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.header-input:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
@media (max-width: 768px) {
  .header-div {
    padding-left: 24px;
    padding-right: 24px;
  }
  .logohead-img {
    width: 150px;
    height: auto;
  }
  .header-btn {
    width: 100px;
    height: 36px;
    font-size: 12px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
