.characters-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-tags-img {
  width: 100%;
  height: 170px;
  background-image: url('../../img/characters/Tags.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
  overflow: hidden;
  margin-top: -80px;
}

.filter-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 64px;
  display: flex;
  gap: 16px;
  padding: 0px 10px 0px 10px;
  margin-top: 170px;
}
.filter-li {
  display: flex;
  flex-direction: column;
  position: relative;
}
.filter-p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
.filter-input-div {
  width: 233px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  background-color: #daf836;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  outline: none;
}
.search-inp-img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.select-btn {
  height: 50px;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.chevron-img {
  width: 18px;
  height: 18px;
}
.chevron-status {
  margin-left: 60px;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
.chevron-species {
  margin-left: 79px;
}
.chevron-type {
  margin-left: 65px;
}
.chevron-gender {
  margin-left: 80px;
}
.select-ul {
  position: absolute;
  list-style: none;
  padding: 16px 24px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 2px solid #000;
  border-radius: 15px;
  top: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s ease;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  z-index: 10;
}

.select-ul.active {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s ease;
}

.select-ul.active .chevron-status {
  transform: rotate(180deg);
}


.select-a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.select-li:not(:first-child) {
  margin-top: 8px;
}

/* Characters */

.characterspages-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 0 20px 0 20px;
  z-index: 1;
}

.nocharacters-ul {
  display: none;
  flex-direction: column;
  align-items: center;
}

.nocharacters-img {
  width: 388px;
  height: 358px;
}

.nocharacters-p {
  font-size: 24px;
  margin-top: 16px;
  color: #000000;
  margin-top: 16px;
}

.characters-ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 64px;
  justify-content: center;
  margin-top: 64px;
}

.character-ul {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  max-width: 278px;
  cursor: pointer;
  z-index: -1;
}
.character-img {
  width: 278px;
  height: 314px;
  border-radius: 18px;
  border: 2px solid #A1D737;
}

.character-h2 {
  font-size: 16px;
  margin-top: 16px;
  color: #000000;
}

.character-p {
  font-size: 14px;
  margin-top: 8px;
  color: #11111183;
}

.character-span {
  color: black;
}

.loadmore-btn {
  margin-top: 64px;
  padding: 12px 24px;
  background-color: #A1D737;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .characters-ul {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 48px;
  }
}

@media (max-width: 1065px) {
  .filter-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 980px) {
  .characters-ul {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 48px;
  }
}

@media (max-width: 768px) {
  .main-tags-img {
    height: 130px;
    margin-top: -60px;
  }
}
@media (max-width: 625px) {
  .filter-ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    width: 100%;
    max-width: 550px;
    justify-content: center;
  }

  .filter-ul li:first-child {
    grid-column: span 2;
  }
  .filter-input-div {
    width: 100%;
  }

  .select-btn {
    width: 180px;
    justify-content: space-between;
  }

  .chevron-status,
  .chevron-species,
  .chevron-type,
  .chevron-gender {
    margin-left: 0px;
  }

  .filter-ul {
    margin-top: 40px;
  }

  .characters-ul {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
@media (max-width: 480px) {
  .select-btn {
    width: 150px;
  }
}