.characters-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.main-tags-img {
    width: 100%;
}

.filter-ul {
  list-style-type: none;
  padding: 0;
  margin-top: 175px;
  display: flex;
  gap: 16px;
  padding: 0px 10px 0px 10px;
}
.filter-p {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
.filter-input-div {
  width: 233px;
  height: 50px;
  padding: 16px 24px 16px 24px;
  background-color: #daf836;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 16px;
  outline: none;
}
.search-inp-img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.select-btn {
  height: 50px;
  padding: 16px 24px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.chevron-img {
  width: 18px;
  height: 18px;
}
.chevron-status {
  margin-left: 60px;
}
.chevron-species {
  margin-left: 79px;
}
.chevron-type {
  margin-left: 45px;
}
.chevron-gender {
  margin-left: 80px;
}
.select-ul {
  list-style: none;
  padding: 16px 24px;
  background-color: white;
  border: 2px solid #000000;
  border-radius: 15px;
}
.select-a {
  text-decoration: none;
  color: black;
}
.select-li:not(:first-child) {
  margin-top: 8px;
}
.select-ul-status,
.select-ul-species,
.select-ul-type,
.select-ul {
  display: none;
}
@media (max-width: 1065px) {
  .filter-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .main-tags-img {
    width: 150%;
  }
}
@media (max-width: 480px) {
  .main-tags-img {
    width: 300%;
  }
}
@media (max-width: 625px) {
  .filter-ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 16px;
    width: 100%;
    max-width: 550px;
    justify-content: center;
  }

  .filter-ul li:first-child {
    grid-column: span 2;
  }
  .filter-input-div {
    width: 100%;
  }

  .select-btn {
    width: 180px;
    justify-content: space-between;
  }

  .chevron-status,
  .chevron-species,
  .chevron-type,
  .chevron-gender {
    margin-left: 0px;
  }
}
@media (max-width: 480px) {
  .select-btn {
    width: 150px;
  }
}
