* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
}
.all-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
header {
    width: 100%;
    background-color: #e0e0e0;
}
.header-div {
    background-color: #f0f0f0;
    width: 100%;
    padding: 24px;
    padding-left: 128px;
    padding-right: 128px;
    background-color: #0D171D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logohead-img {
    width: 193px;
    height: 73px;
}
.header-btn {
    background: transparent;
    border: 1px solid #FAFAFA4D;
    width: 124px;
    height: 42px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
main {
    width: 100%;
}
.main-div {
    width: 100%;
    padding: 80px 128px 128px 128px;
    background-color: #0D171D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.main-ul {
    margin-right: 120px;
}
.main-h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 100px;
    color: #FFFFFF;
}
.main-p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 16px;
    width: 482px;
}
.main-btn {
    background: transparent;
    border: 1px solid #FAFAFA4D;
    width: 131px;
    height: 42px;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.main-img {
    width: 504px;
    height: 504px;
}
.main-tags-img {
    position: absolute;
    bottom: -130px;
    height: auto;
    left: 0px;
    width: 100%;
}