@import url('./mainpage/mainpage-header.css');
@import url('./mainpage/mainpage-hero.css');
@import url('./mainpage/mainpage-characters.css');
@import url('./mainpage/mainpage-episodes.css');
@import url('./mainpage/mainpage-footer.css');
@import url('./characters/characterspage-header.css');
@import url('./characters/characterspage-hero.css');
@import url('./characters/characterspage-characters.css');
@import url('./characters/characterspage-footer.css');
@import url('./characters/characterspage-modal.css');
@import url('./episodes/episodespage-header.css');
@import url('./episodes/episodespage-hero.css');
@import url('./episodes/episodespage-episodes.css');
@import url('./episodes/episodespage-footer.css');
@import url('./episodes/episodespage-modal.css');

-- Тут вже все підключено --

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
