@import url('./mainpage/mainpage-header.css');
@import url('./mainpage/mainpage-hero.css');
@import url('./mainpage/mainpage-characters.css');
@import url('./mainpage/mainpage-episodes.css');
@import url('./mainpage/mainpage-footer.css');

@import url('./characters/characters-header.css');
@import url('./characters/characters-hero.css');
@import url('./characters/characters-main.css');
@import url('./characters/characters-footer.css');
@import url('./characters/characters-modal.css');

@import url('./episodes/episodes-header.css');
@import url('./episodes/episodes-hero.css');
@import url('./episodes/episodes-main.css');
@import url('./episodes/episodes-footer.css');
@import url('./episodes/episodes-modal.css');

* {
  box-sizing: border-box;
}
