@import url('./mainpage/mainpage-header.css');
@import url('./mainpage/mainpage-hero.css');
@import url('./mainpage/mainpage-characters.css');
@import url('./mainpage/mainpage-episodes.css');
@import url('./mainpage/mainpage-footer.css');
@import url('./characters/characters-header.css');
@import url('./characters/characters-hero.css');
@import url('./characters/characters-characters.css');
@import url('./characters/characters-footer.css');
@import url('./characters/characters-modal.css');
@import url('./episodes/episodes-header.css');
@import url('./episodes/episodes-hero.css');
@import url('./episodes/episodes-episodes.css');
@import url('./episodes/episodes-footer.css');
@import url('./episodes/episodes-modal.css');

/* -- Тут вже все підключено -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
.all-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

main {
    width: 100%;
}