/* FOOTER  */
.footer-section-main {
  height: 365px;
  background-color: black;
}
.ul-main-footer {

}
.li-main-footer {
}
.main-img-footer {
}
.first-p-footer-p {
  color: white;
}
.div-main-footer {
}
.info-footer-images {
}
.p-to-p-footer {
  color: #FAFAFA ;
  opacity: 40%;
  left: 50%;
}
.div-footer-div-div {}
.container {

}

 .second-li-footer {

 }